<!-- tailwind-contact-box -->
{% if content.snippets is defined and content.snippets is not empty %}
  {% set snippet = content.snippets[0] %}
{% else %}
  {% set snippets = sulu_snippet_load_by_area('contact') %}
  {% set snippet = snippets.content %}
{% endif %}

{% set organisation = snippet.organisation  %}
{% if content.organisation is defined and content.organisation is not empty %}
    {% set organisation = content.organisation %}
{% endif %}

{% set item = organisation[0] %}
<div class="mx-auto">
  <div class="lg:grid lg:grid-cols-12">
    <div class="relative lg:col-span-4 lg:col-start-1 lg:row-start-1">
      <div class="relative mx-auto max-w-md px-6 py-6 sm:max-w-3xl">
        <div class="aspect-w-10 aspect-h-6 sm:aspect-w-2 sm:aspect-h-1 lg:aspect-w-1">
          {% set source = item.avatar.thumbnails['contact.webp'] %}
          <img
            class="rounded-3xl object-cover object-center shadow-2xl"
            src="{{ source }}"
            alt="{{ item.note }}"
          >
        </div>
      </div>
    </div>
    <div class="relative bg-ttgreen lg:col-span-7 lg:col-start-5 lg:row-start-1 lg:flex lg:items-center">
      <div class="relative text-center mx-auto px-6 sm:py-16 text-lg lg:px-0 lg:max-w-none lg:w-full">
        <h3 class="text-center mx-auto text-3xl font-bold tracking-tight">
          {{ snippet.title }}
        </h3>
        <div class="text-center">
          {{ snippet.description|raw }}
        </div>
        <div class="mt-5 flex flex-col sm:flex-row justify-center items-center space-y-4 sm:space-y-0 sm:space-x-4">
          {% if snippet.buttonText and snippet.buttonLink %}
            <sulu-link
              href="{{ snippet.buttonLink }}"
              class="text-black bg-gray-100 border-2 border-green-700 hover:text-white hover:bg-green-700 focus:text-white focus:bg-green-700 focus:outline-none focus:ring-2 focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 transition-all duration-300"
            >
              {{ snippet.buttonText }}
            </sulu-link>
          {% endif %}
          {% if snippet.linkDisplay and snippet.url %}
            <a
              href="{{ snippet.url }}"
              class="text-black bg-gray-100 border-2 border-green-700 hover:text-white hover:bg-green-700 focus:text-white focus:bg-green-700 focus:outline-none focus:ring-2 focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 transition-all duration-300"
            >
              {{ snippet.linkDisplay }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% dump(content) %}
<!-- end tailwind-contact-box -->
