<div class="bg-white">
    <div class="mx-auto max-w-7xl py-12 px-4 text-center sm:px-6 lg:py-16 lg:px-8">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            <span class="block">{{ content.headline }}</span>
            <span class="block">{{ content.description|raw }}</span>
        </h2>
        <div class="mt-8 flex justify-center">
            <div class="inline-flex rounded-md shadow">
                <a href="{{ content.url }}" class="inline-flex justify-center rounded-md py-1 px-4 text-2xl font-semibold tracking-tight shadow-sm focus:outline-none bg-green-600 text-white hover:bg-green-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 active:bg-green-700 active:text-white/80 disabled:opacity-30 disabled:hover:bg-green-600">
                    {{ content.text }}
                </a>
            </div>
            <div class="ml-3 inline-flex">
                <a href="{{ content.urltwo }}" class="inline-flex justify-center rounded-md py-1 px-4 text-2xl font-semibold tracking-tight shadow-sm focus:outline-none bg-gray-300 text-green-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 active:bg-green-700 active:text-white/80 disabled:opacity-30 disabled:hover:bg-green-600 hover:bg-green-500 hover:text-white">
                    {{ content.texttwo }}
                </a>
            </div>
        </div>
    </div>
</div>
