<div class="mx-auto px-4 sm:px-6 md:px-4 lg:px-8 text-lg tracking-tight text-slate-700">
    <h3 class="sm:text-center text-lg font-semibold leading-8 text-green-600">
        {{ content.subline }}
    </h3>
    <h2 class="sm:text-center mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        {{ content.headline }}
    </h2>
    <div class="mt-6 text-lg leading-8 text-gray-600">
        {{ content.description|raw }}
    </div>
    <dl class="mt-20 grid grid-cols-1 gap-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 lg:gap-x-8">
        {% if content.items is not empty %}
            {% for item in content.items %}
                <div class="relative">
                    <dt>
                        <svg class="absolute mt-1 h-6 w-6 text-indigo-600"
                             xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                             aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
                        </svg>
                        <h4 class="ml-10 text-lg font-semibold leading-8 text-gray-900">
                            {{ item.headline }}
                        </h4>
                    </dt>
                    <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">
                        {{ item.description|raw }}
                    </dd>
                </div>
            {% endfor %}
        {% endif %}
    </dl>
</div>
