<!-- formats.html.twig -->
<section aria-labelledby="Employer Branding Formate"
         class="scroll-mt-14 py-4 sm:scroll-mt-32">
    <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:max-w-4xl lg:px-12">
        <h2 class="mt-8 font-display text-4xl font-bold tracking-tight text-slate-900">
            {{ content.headline }}
        </h2>
        <div class="mt-4 text-lg tracking-tight text-slate-700">
            {{ content.description|raw }}
        </div>
    </div>
    <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:max-w-7xl lg:px-8 mt-16">
        <ol role="list"
            class="grid grid-cols-1 md:grid-cols-3 auto-cols-max gap-y-10 gap-x-8">
            {% if content.items is not empty %}
                {% for item in content.items %}
                    <li>
                        <div class="relative flex h-auto items-center justify-center rounded-2xl px-6 shadow-lg border border-dark">
                            <div class="flex justify-center overflow-hidden rounded shadow-sm">
                                {% set viewBox = '0 0 24 24' %}
                                {% set d = 'M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z' %}
                                {% if item.icon == 'newsletter' %}
                                    {% set d = 'M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75' %}
                                {% endif %}
                                {% if item.icon == 'github' %}
                                    {% set viewBox = '-5 -3 30 30' %}
                                    {% set d = 'M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z' %}
                                {% endif %}

                                <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" fill="none" viewBox="{{ viewBox }}" stroke-width="1.5" stroke="currentColor" class="w-2/3 mx-auto fill-green-500 hover:fill-green-300">
                                    <path d="{{ d }}" />
                                </svg>
                            </div>
                        </div>
                        <h3 before="{{ loop.index }}" class="mt-8 text-base font-medium tracking-tight text-slate-900 before:mb-2 before:block before:font-mono before:text-sm before:text-slate-500 before:content-['0'attr(before)]">
                            {{ item.headline }}
                        </h3>
                        <div class="mt-2 text-lg text-slate-600">
                            {{ item.description|raw }}
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </ol>
    </div>
</section>
<!-- end formats.html.twig -->
