<!-- hero.html.twig -->
<header class="overflow-hidden bg-slate-100 lg:bg-transparent lg:px-5">
    <div class="mx-auto grid max-w-6xl grid-cols-1 grid-rows-[auto_1fr] gap-y-16 pt-16 md:pt-20 lg:grid-cols-12 lg:gap-y-20 lg:px-3 lg:pb-36 lg:pt-20 xl:py-32">
        <div class="relative flex items-end lg:col-span-5 lg:row-span-2">
            <div class="bg-green-500 absolute -top-20 -bottom-12 left-0 right-1/2 z-10 rounded-br-6xl bg-green-600 text-white/10 md:bottom-8 lg:-inset-y-32 lg:right-full lg:left-[-100vw] lg:-mr-40">

            </div>
            {% set source = content.image[0].formats['hero-newsletter'] %}
            <div class="relative z-10 mx-auto flex w-64 rounded-lg bg-slate-600 shadow-xl md:w-80 lg:w-auto">
                <img
                    alt="{{ content.image[0].title }}"
                    src="{{ source }}"
                    width="960" height="1284" decoding="async" data-nimg="1" class="w-full rounded-lg"
                    style="color:transparent"/>
            </div>
        </div>

        <div class="bg-white pt-16 lg:col-span-7 lg:bg-transparent lg:pt-0 lg:pl-16 xl:pl-20">
            <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
                <h1 class="font-display text-4xl font-extrabold text-slate-900 sm:text-6xl">
                    {{ content.headline }}
                </h1>
                <div class="mt-4 text-2xl text-slate-600">
                    {{ content.description|raw }}
                </div>
                <div class="mt-8 flex gap-4">
                    <a class="inline-flex justify-center rounded-md py-1 px-4 text-base font-semibold tracking-tight shadow-sm focus:outline-none bg-green-600 text-white hover:bg-green-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 active:bg-green-700 active:text-white/80 disabled:opacity-30 disabled:hover:bg-green-600"
                       href="{{ content.url }}" target="_blank" title="Link zur Newsletter Anmeldung">
                        {{ content.buttonText }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end hero.html.twig -->
