<!-- hero-image-right.html.twig -->
<div class="bg-gray-50">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
      {% if content.subline %}
        <h3 class="text-base font-semibold leading-7 text-green-600">
          {{ content.subline }}
        </h3>
      {% endif %}
      <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
        {{ content.headline }}
      </h1>
      <p class="mt-6 text-lg leading-8 text-gray-800">
        {{ content.description|raw }}
      </p>
    </div>
    <div class="mx-auto mt-10 max-w-lg lg:mx-0 lg:max-w-none lg:w-1/2">
      <img src="{{ content.image }}" alt="{{ content.imageAlt }}" class="rounded-xl shadow-2xl ring-1 ring-gray-900/10 lg:mt-0 lg:ml-[max(-3rem,4vw)] lg:w-[57rem]">
    </div>
  </div>
</div>
<!-- end hero-image-right.html.twig -->
