<!-- hero-startpage.html.twig -->
<div class="bg-gray-50">
  <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
    <div class="mx-auto max-w-2xl text-center">
      {% if content.subline %}
        <h3 class="text-base font-semibold leading-7 text-green-600">
          {{ content.subline }}
        </h3>
      {% endif %}
      <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
        {{ content.headline }}
      </h1>
      <p class="mt-6 text-lg leading-8 text-gray-800">
        {{ content.description|raw }}
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="{{ content.url }}" class="rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">
          {{ content.actionText }}
        </a>
        {% if content.url2 %}
          <a href="{{ content.url2 }}" class="text-sm font-semibold leading-6 text-gray-900">
            {{ content.actionText2 }} <span aria-hidden="true">→</span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- end hero-startpage.html.twig -->
