<!-- heroslider.html.twig -->
<section class="bg-white antialiased">
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
    <div class="flex flex-col gap-8 lg:items-center lg:gap-16 lg:flex-row">
      <div class="lg:max-w-xl xl:shrink-0">
        <div>
          <h2 class="text-3xl font-extrabold leading-none tracking-tight text-gray-900 sm:text-5xl">
            {{content.headline}}
          </h2>
          {% if content.description %}
          <p class="mt-5 text-base font-normal text-gray-500 md:max-w-3xl sm:text-xl">
            {{ content.description|raw}}
          </p>
          {% endif %}
        </div>
        <div class="flex flex-col gap-4 mt-8 sm:flex-row">
        {% if content.pageurl1 %}
          <a href="{{ sulu_content_path(content.pageurl1[0].url) }}" 
            class="sm:w-[182px] px-5 py-3 w-full text-base font-medium text-center flex items-center justify-center bg-green-900 text-white border border-green-900 rounded-lg shrink-0 hover:bg-white hover:text-green-900 hover:border-green-900 focus:bg-white focus:text-green-900 focus:border-green-900 focus:ring-4 focus:outline-none focus:ring-green-900/30"
            role="button">
            {{ content.pageurl1[0].title }}
          </a>
          {% endif %}
          
          {% if content.pageurl2 %}
          <a href="{{ sulu_content_path(content.pageurl2[0].url)  }}" 
            class="sm:w-[182px] inline-flex w-full justify-center items-center px-5 py-3 text-base font-medium text-center text-green-900 bg-white border border-green-900 rounded-lg shrink-0 focus:outline-none hover:bg-gray-100 hover:text-green-900 focus:z-10 focus:ring-4 focus:ring-green-900/20"
            role="button">
            {{ content.pageurl2[0].title }}
          </a>
          {% endif %}
        </div>
      </div>
      
      <div id="heroslider-{{ loopIndex }}" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            {% for slide in content.images %}
            {% set source = slide.formats['heroslider'] %}
                <div class="hidden duration-700 ease-in-out rounded-lg" data-carousel-item>
                    <img src="{{ source }}" alt="{{ slide.title }}" 
                    class="absolute rounded-lg block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                </div>
            {% endfor %}
        </div>
        <!-- Slider indicators -->
        <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
            {% for slide in content.images %}
                <button type="button" 
                        class="w-3 h-3 rounded-full !bg-nca hover:!bg-green-900 [&[aria-current=true]]:!bg-green-900 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-transparent" 
                        aria-current="{{ loop.first ? 'true' : 'false' }}" 
                        aria-label="Slide {{ loop.index }}" 
                        data-carousel-slide-to="{{ loop.index0 }}">
                </button>
            {% endfor %}
        </div>
        <!-- Slider controls -->
        <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/70 border border-green-900 group-hover:bg-nca/30 group-focus:ring-4 group-focus:ring-green-900/30 group-focus:outline-none">
                <svg aria-hidden="true" class="w-5 h-5 text-green-900 sm:w-6 sm:h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/70 border border-green-900 group-hover:bg-nca/30 group-focus:ring-4 group-focus:ring-green-900/30 group-focus:outline-none">
                <svg aria-hidden="true" class="w-5 h-5 text-green-900 sm:w-6 sm:h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
      </div>
    </div>
  </div>
</section>
<!-- end heroslider.html.twig -->