<!-- subpages-overview.html.twig -->
{% if content.items is defined and content.items is not empty %}
<div class="py-12 sm:py-16">
  <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3">
    {% for item in content.items %}
      <article class="flex flex-col items-start rounded-xl py-6 px-6 ring-1 ring-inset ring-gray-900/5 lg:px-8 lg:py-10">
        {% if item.excerptImages is defined and item.excerptImages[0] is not empty %}
          {% set source = item.excerptImages[0].formats['content-full.webp']|default('') %}
          <img src="{{ source }}" class="mb-4 w-full rounded-lg object-cover" alt="{{ item.title }}" loading="lazy">
        {% endif %}
        <div class="group relative z-10">
          <h2 class="text-lg font-semibold leading-6 text-gray-900">
            <a href="{{ item.url }}" class="hover:text-green-700">
              {{ item.title }}
            </a>
          </h2>
        </div>
        {% if item.excerptDescription is defined and item.excerptDescription is not empty %}
          <p class="mt-3 text-sm leading-6 text-gray-600 line-clamp-3">
            {{ item.excerptDescription|raw }}
          </p>
        {% elseif item.seoDescription is defined and item.seoDescription is not empty %}
          <p class="mt-3 text-sm leading-6 text-gray-600 line-clamp-3">
            {{ item.seoDescription }}
          </p>
        {% endif %}
      </article>
    {% endfor %}
  </div>
</div>
{% endif %}
<!-- end subpages-overview.html.twig -->
