<!DOCTYPE html>

<html lang="en" class="no-js">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,300italic,700,400,300' rel='stylesheet'>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        {% block meta %}
            {% include "SuluWebsiteBundle:Extension:seo.html.twig" with {
                "seo": extension.seo|default([]),
                "content": content|default([]),
                "urls": urls|default([]),
                "shadowBaseLocale": shadowBaseLocale|default(),
                "defaultLocale": app.request.locale
            } %}
        {% endblock %}
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        <link href="/conference/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/conference/css/owl.carousel.css" rel="stylesheet">
        <link href="/conference/css/main.css" rel="stylesheet">
        <script src="/conference/js/modernizr.min.js"></script>
    </head>
    <body>
        <main>
            <section id="content">
                {% block content %}
                    <header class="hero-section" style="background: url('{{ content.eventheaderimage[0].url }}') center center no-repeat fixed;background-size: cover;">
                        <nav class="navbar navbar-default">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                                    <a href="{{ content.eventLink }}" class="logo-brand"><img src="{{ content.sponsorLogo[0].url }}" data-at2x="{{ content.sponsorLogo[0].url }}" alt="Tickets auf Eventbrite" class="logo-nav" width="148px" height="50px" style="width: 148px;height: 50px"> </a> </div>
                                <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="#speaker">Speakers</a></li>
                                        <li><a href="#schedule">Zeitplan</a></li>
                                        <li><a href="#contact">HR Kontakt</a></li>
                                        <li><a href="#pricing">Preise</a></li>
                                        <li><a href="#highlights">Highlights</a></li>
                                        <li><a href="#venue">Location</a></li>
                                        <li><a href="#faq">FAQ</a></li>
                                        <li><a href="{{ content.eventLink }}" target="_blank" class="bttn">Tickets</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="welcome-message">
                                        <h1>{{ content.overviewHeadline }}</h1>
                                        <p>{{ content.date|localizeddate('long', 'none', "de") }}</p>
                                        <p>{{ content.town }}</p>
                                    </div>
                                    <div class="action-btn"><a href="{{ content.eventLink }}" target="_blank" class="bttn">Tickets kaufen</a> <a href="#counter" class="bttn">Event Infos</a></div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="counter text-center" id="counter">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3 col-xs-6"> <i class="fa fa-user fa-3x"></i>
                                    <h3 class="total-number-1">
                                        {{ content.counterSpeaker|default(4) }}
                                    </h3>
                                    <p>Speaker</p>
                                </div>
                                <div class="col-sm-3 col-xs-6"> <i class="fa fa-graduation-cap fa-3x"></i>
                                    <h3 class="total-number-2">
                                        {{ content.counterMember|default(40) }}
                                    </h3>
                                    <p>Teilnehmer</p>
                                </div>
                                <div class="col-sm-3 col-xs-6"> <i class="fa fa-clock-o fa-3x"></i>
                                    <h3 class="total-number-3">
                                        {{ content.counterHours|default(10) }}
                                    </h3>
                                    <p>Stunden</p>
                                </div>
                                <div class="col-sm-3 col-xs-6"> <i class="fa fa-hand-spock-o fa-3x"></i>
                                    <h3>
                                        <span class="total-number-4">
                                            {{ content.counterDonation|default(400) }}
                                        </span>,- Euro
                                    </h3>
                                    <p>Spende</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="about section-spacing">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">{{ content.overviewLeft|raw }}</div>
                                <div class="col-md-6">
                                    <h2>{{ content.overviewHeadline }}</h2>
                                    {{ content.overviewRight|raw }}
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="schedule section-spacing" id="schedule">
                        <div class="container">
                            <header class="text-center">
                                <h2>{{ content.timeTableHeadline }}</h2>
                                <h3>{{ content.timeTableSubline }}</h3>
                            </header>
                            <div class="row">
                                <div class="col-md-12">
                                    <div role="tabpanel" id="schedule-days">
                                        <ul class="nav nav-tabs content-tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#day-1" aria-controls="day-1" role="tab" data-toggle="tab">
                                                    <i class="fa fa-calendar"></i>{{ content.date|localizeddate('full', 'none', "de") }}
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="day-1">
                                                <ul class="timeline">
                                                    {% for timeTableItem in content.timeTableItems %}
                                                        <li class="event">
                                                            <div class="row">
                                                                {% if timeTableItem.images is not empty %}
                                                                    {% if timeTableItem.alignRight %}
                                                                        <div class="col-md-3 col-md-push-9 text-center">
                                                                    {% else %}
                                                                        <div class="col-md-3 text-center">
                                                                    {% endif %}
                                                                        <img src="{{ timeTableItem.images[0].url }}" alt="OTTO Frederik und Sebastian" data-no-retina>
                                                                    </div>
                                                                {% endif %}
                                                                {% if timeTableItem.alignRight %}
                                                                    <div class="col-md-9 col-md-pull-3">
                                                                {% else %}
                                                                    <div class="col-md-9">
                                                                {% endif %}
                                                                    <p>{{ timeTableItem.time|date('H:i') }} Uhr</p>
                                                                    <h4>{{ timeTableItem.timetableHeadline }}</h4>
                                                                    {% if timeTableItem.timetableDescription != '' %}
                                                                        {{ timeTableItem.timetableDescription|raw }}
                                                                    {% endif %}
                                                                    {% if timeTableItem.timetableDescription != '' %}
                                                                        <p class="event-speaker">- Mit {{ timeTableItem.timetableSpeaker }}</p>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endblock %}
                {{ dump(content) }}
            </section>
            <section class="pricing section-spacing text-center" id="pricing">
                <div class="container">
                    <header>
                        <h2>{{ content.priceHeadline }}</h2>
                        <h3>Wir setzen uns ein für kostenlose Weiterbildung</h3>
                        <p>Der Ticketpreis wird zu 100% für die <b>Sternenbrücke</b> in Hamburg gespendet.</p>
                    </header>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="plan">
                                <div class="header">
                                    <h4>Teilnehmer</h4>
                                    <div class="price"><span class="currency">€</span>10,-<span class="ticket">/ Pro Ticket als Spende <b>Sternenbrücke</b></span> </div>
                                </div>
                                <ul class="plan-features">
                                    {% for priceFeature in content.priceFeature %}
                                        <li>{{ priceFeature.priceFeatureItem }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="action-btn-pricing"><a href="{{ content.eventLink }}" target="_blank" class="bttn">Ticket kaufen</a></div>
                </div>
            </section>
        </main>
    </body>
    <script src="/conference/js/jquery-2.1.3.min.js"></script>
    <script src="/conference/js/bootstrap.min.js"></script>
    <script src="/conference/js/waypoints.min.js"></script>
    <script src="/conference/js/jquery.animateNumber.min.js"></script>
    <script src="/conference/js/waypoints-sticky.min.js"></script>
    <script src="/conference/js/retina.min.js"></script>
    <script src="/conference/js/owl.carousel.min.js"></script>
    <script src="/conference/js/jquery.ajaxchimp.min.js"></script>
    <script src="/conference/js/jquery.form.min.js"></script>
    <script src="/conference/js/jquery.validate.min.js"></script>
    <script src="/conference/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
        var mapLocation = new google.maps.LatLng(53.600841, 10.075710);
    </script>
</html>
