{% extends "base.html.twig" %}

{% block content %}
    {% for block in content.blocks %}
        {% include "includes/ethic/" ~ block.type ~ ".html.twig" with {content: block}%}
    {% endfor %}

    <section class="tz-lastest-event tz-lastest-event-style-4">
        <h3 class="tz-event-title">{{ content.eventCarouselHeadline }}</h3>
        <div class="container">
            <div class="tz-event-container">
                <div class="tz-event-wrapper owl-carousel owl-theme">
                    {% for eventCarouselItem in content.eventCarouselItems|sulu_util_multisort('[data][published]', 'desc') %}
                        {% if
                            (eventCarouselItem.excerptImages[0].url is defined and eventCarouselItem.excerptImages[0].url)
                            and eventCarouselItem.date
                            and eventCarouselItem.blogLink
                            and eventCarouselItem.blogLinkText
                            and eventCarouselItem.socialInstitutionLink
                            and eventCarouselItem.socialInstitutionLinkText
                        %}
                        <div class="tz-event-style-4">
                            <div class="tz-image-event-item">
                                <img src="{{ eventCarouselItem.excerptImages[0].formats['270x200'] }}" alt="{{ eventCarouselItem.title }}">
                                <a href="https://youtu.be/4Z_JgTUYKsc" target="_blank" rel="noopener"><i class="fa fa-arrows-alt"></i></a>
                            </div>
                            <div class="tz-content-event-item">
                                <h6>{{ eventCarouselItem.title }}</h6>
                                <strong>{{ eventCarouselItem.date|localizeddate('long', 'none', "de") }} @ 9:00 am</strong>
                                <img src="/ethic/images/check-01-home1.png" style="display: unset; width: unset" alt="{{ eventCarouselItem.title }}">
                                <p>
                                    <strong><a href="{{ eventCarouselItem.blogLink }}" target="_blank" rel="noopener">{{ eventCarouselItem.blogLinkText }}</a></strong>
                                    {{ eventCarouselItem.description }}
                                    <br>
                                    <strong>
                                        Spende {{ eventCarouselItem.donation }},- Euro
                                        <br>
                                        <a href="{{ eventCarouselItem.socialInstitutionLink }}" target="_blank" rel="noopener">
                                            {{ eventCarouselItem.socialInstitutionLinkText }}
                                        </a>
                                    </strong>
                                </p>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section><!-- End class tz-lastest-event theme-white -->
    <section class="tz-cources tz-cources-4" data-q="services-section">
    <span class="tz-images-check">
        <img alt="Images" src="/ethic/images/check-01-home1.png"/>
    </span>
        <h4 class="tz-title-find">Wir setzen Sponsoren in Szene und machen Event-Marketing</h4>
        <div class="container" data-q="services-container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-navigation">
                    <ul data-q="services-navigation" id="tz-sidemenu" class="tz-cources-content-left">
                        <li>
                            <div>
                                <a href="#youtube" class="tz-open">
                                <span>
                                    <img alt="Images" src="/ethic/images/check-01-home1.png"/>
                                    <i class="fa fa-arrows-alt"></i>
                                </span>
                                    <strong>Video-Marketing</strong>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#socialmediamarketing">
                                <span>
                                    <img alt="Images" src="/ethic/images/check-01-home1.png"/>
                                    <i class="fa fa-arrows-alt"></i>
                                </span>
                                    <strong>PR- und Social Media Marketing</strong>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#vorbericht">
                                <span>
                                    <img alt="Images" src="/ethic/images/check-01-home1.png"/>
                                </span>
                                    <i class="fa fa-arrows-alt"></i>
                                    <strong>Vorbericht</strong>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#nachbericht">
                                <span>
                                    <img alt="Images" src="/ethic/images/check-01-home1.png"/>
                                </span>
                                    <i class="fa fa-arrows-alt"></i>
                                    <strong>Nachbericht</strong>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#presse">
                                <span>
                                    <img alt="Images" src="/ethic/images/check-01-home1.png"/>
                                </span>
                                    <i class="fa fa-arrows-alt"></i>
                                    <strong>Presse</strong>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#community">
                                <span>
                                    <img alt="Images" src="/ethic/images/check-01-home1.png"/>
                                </span>
                                    <i class="fa fa-arrows-alt"></i>
                                    <strong>Community fördern</strong>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#mitarbeiter">
                                <span>
                                    <img alt="Images" src="/ethic/images/check-01-home1.png"/>
                                </span>
                                    <i class="fa fa-arrows-alt"></i>
                                    <strong>Mitarbeiter NCA Team</strong>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#guterzweck">
                                <span>
                                    <img alt="Images" src="/ethic/images/check-01-home1.png"/>
                                </span>
                                    <i class="fa fa-arrows-alt"></i>
                                    <strong>Der gute Zweck</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div data-q="services-content" class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <div id="youtube" class="tz-content-right">
                        <div class="tz-tab-slider-img">
                            <div class="tz-tab-slider-img">
                                <ul class="tz-tab-slider owl-carousel owl-theme">
                                    <li>
                                        <div class="trailer_player">
                                            <iframe title="YouTube Employer Branding Video" width="732" height="412" src="https://www.youtube.com/embed/P823yJQuHgM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="trailer_player">
                                            <iframe title="YouTube After Event Video InfluencerDB" width="732" height="412" src="https://www.youtube.com/embed/8VDpH0aRgaU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="trailer_player">
                                            <iframe title="YouTube After Event Video move:elevator" width="732" height="412" src="https://www.youtube.com/embed/n6sn4Wstp00" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tz-tab-description tz-background-color-8">
                            <img src="/ethic/images/check-02-home2.png" alt="Images">
                            <h4>Video-Marketing</h4>
                            <p>
                                Mit unserem professionellen Video-Marketing erreichen wir eine hohe Reichweite in der relevanten Zielgruppe und können Marken und Sponsoren sehr gut platzieren.
                            </p>
                            <span>
                            <a href="https://youtu.be/g3teRRGyACI" target="_blank" rel="noopener">Videobericht</a>
                            <a href="https://youtu.be/tjB_G8A_yYw" target="_blank" rel="noopener">Interviews</a>
                            <a href="https://youtu.be/zI-4Kq0TD6g" target="_blank" rel="noopener">Der Nerd!</a>
                            <a href="https://youtu.be/0lRKf_UhAXo" target="_blank" rel="noopener">Stories</a>
                        </span>
                        </div>
                    </div>
                    <div id="socialmediamarketing" class="tz-content-right tz-hidden">
                        <div class="tz-tab-singleImg">
                            <img src="/img/startpage/social-media-marketing.jpg"
                                 alt="Social Media Marketing">
                        </div>
                        <div class="tz-tab-description tz-background-color-8">
                            <img src="/ethic/images/check-02-home2.png" alt="Images">
                            <h4>PR-Arbeit und Social Media Marketing</h4>
                            <p>Wir übernehmen die Kommunikation zum Event in unserem Blog und auf den Social-Media-Kanälen
                                (Facebook, Twitter, Google+ und Xing). Und das in Abstimmung mit dem Sponsor.</p>
                            <span>
                            <a href="https://www.facebook.com/nevercodealone/" target="_blank" rel="noopener">Facebook</a>
                            <a href="https://twitter.com/nevercodealone" target="_blank" rel="noopener">Twitter</a>
                            <a href="https://www.instagram.com/nevercodealone/" target="_blank" rel="noopener">Instagram</a>
                            <a href="https://www.xing.com/companies/nevercodealone" target="_blank" rel="noopener">XING</a>
                        </span>

                        </div>
                    </div>
                    <div id="vorbericht" class="tz-content-right tz-hidden">
                        <div class="tz-tab-slider-img">
                            <ul class="tz-tab-slider">
                                <li>
                                    <img src="/img/startpage/content-marketing-blog.png"
                                         alt="Vorbericht NCAEvent">
                                </li>
                            </ul>
                        </div>
                        <div class="tz-tab-description tz-background-color-8">
                            <img src="/ethic/images/check-02-home2.png" alt="Images">
                            <h4>Vorbericht Blog-Post</h4>
                            <p>Wir stimmen einen Vorbericht gemeinsam mit Ihnen ab. Dieser wird dann auf unserem Blog mit
                                allen Infos und Ansprechpartnern veröffentlicht. Vorberichte werden von uns intensiv
                                beworben.</p>
                            <span>
                            <a href="https://blog.nevercodealone.de/der-influencerdb-ncaevent/" target="_blank" rel="noopener">Vorbericht InfluencerDB</a>
                            <a href="https://blog.nevercodealone.de/vorbericht-moveelevator/" target="_blank" rel="noopener">Vorbericht move:elevator</a>
                            <a href="https://blog.nevercodealone.de/vorbericht-check24-ncaevent-am-27-mai/" target="_blank" rel="noopener">Vorbericht CHECK24</a>
                        </span>
                        </div>
                    </div>
                    <div id="nachbericht" class="tz-content-right tz-hidden">
                        <div class="tz-tab-slider-img">
                            <ul class="tz-tab-slider">
                                <li>
                                    <img src="/img/startpage/nachbericht-ncaevent.jpg"
                                         alt="Nachbericht Never Code Alone Event">
                                </li>
                            </ul>
                        </div>
                        <div class="tz-tab-description tz-background-color-8">
                            <img src="/ethic/images/check-02-home2.png" alt="Images">
                            <h4>Nachbericht als Blog-Post</h4>
                            <p>Wir erstellen in Absprache mit Ihnen als Sponsor und den Teilnehmern auf dem Event einen
                                Nachbericht auf unserem Blog-Post. Hier wird das Event noch einmal mit Bildern und Zitaten
                                dargestellt.</p>
                            <span>
                            <a href="https://blog.nevercodealone.de/sommer-sonne-coden/" target="_blank" rel="noopener">Nachbericht CHECK24</a>
                            <a href="https://blog.nevercodealone.de/fun-coding-guter-zweck/" target="_blank" rel="noopener">Nachbericht PageGroup</a>
                            <a href="https://blog.nevercodealone.de/never-code-alone-denkwerk-koeln/" target="_blank" rel="noopener">Nachbericht denkwerk</a><br>
                        </span>
                        </div>
                    </div>
                    <div id="presse" class="tz-content-right tz-hidden">
                        <div class="tz-tab-slider-img">
                            <ul class="tz-tab-slider">
                                <li>
                                    <img src="/ethic/img/presse-arbeit.jpg" alt="Presse-Arbeit">
                                </li>
                            </ul>
                        </div>
                        <div class="tz-tab-description tz-background-color-8">
                            <img src="/ethic/images/check-02-home2.png" alt="Images">
                            <h4>Presse-Arbeit</h4>
                            <p>Wir sind Ansprechpartner für die Pressearbeit und können auf die richtigen Medien-Kontakte
                                aus unserem Netzwerk zugreifen.</p>
                            <span>
                            <a href="http://www.derwesten.de/staedte/duisburg/webprojekt-will-softwarequalitaet-verbessern-id12126418.html"
                               target="_blank" rel="noopener">WAZ Artikel - Webprojekt will Softwarequalität verbessern</a>
                        </span>
                        </div>
                    </div>
                    <div id="community" class="tz-content-right tz-hidden">
                        <div class="tz-tab-slider-img">
                            <ul class="tz-tab-slider">
                                <li>
                                    <img src="/ethic/img/community-foerdern.jpg"
                                         alt="Community fördern">
                                </li>
                            </ul>
                        </div>
                        <div class="tz-tab-description tz-background-color-8">
                            <img src="/ethic/images/check-02-home2.png" alt="Images">
                            <h4>Community fördern</h4>
                            <p>Die Community der Webdeveloper entwickelt sich zur Zeit stark weiter. Neben den Open-Source
                                Projekten gibt es auch immer mehr Meetups und Communities. Unsere Events bringen motivierte
                                Webdeveloper zusammen.</p>
                            <span>
                            <a href="https://typo3.org/events/" target="_blank" rel="noopener">TYPO3 Events</a>
                            <a href="http://www.phpug.de/gruppen.5.html" target="_blank" rel="noopener">PHP Usergroups</a>
                            <a href="https://www.meetup.com/de-DE/find/events/?allMeetups=false&keywords=php&radius=31&userFreeform=Duisburg%2C+Deutschland&mcId=z1007709&mcName=Duisburg%2C+DE&eventFilter=mysugg"
                               target="_blank" rel="noopener">PHP Meetups</a>
                        </span>
                        </div>
                    </div>
                    <div id="mitarbeiter" class="tz-content-right tz-hidden">
                        <div class="tz-tab-slider-img">
                            <ul class="tz-tab-slider">
                                <li>
                                    <img src="/ethic/img/never-code-alone-team.jpg"
                                         alt="Never Code Alone Team">
                                </li>
                            </ul>
                        </div>
                        <div class="tz-tab-description tz-background-color-8">
                            <img src="/ethic/images/check-02-home2.png" alt="Images">
                            <h4>Mitarbeiter</h4>
                            <p>Initiator Roland Golla, Fotograf Sven Wagner, Video Journalistin Birte Gernhardt und
                                PR-Experte Matthias Still</p>
                            <span>
                            <a href="https://www.rolandgolla.de" target="_blank" rel="noopener">Roland Golla</a>
                            <a href="http://www.zwaenart.de/" target="_blank" rel="noopener">Sven Wagner</a>
                            <a href="http://www.gernhardtmedia.de/" target="_blank" rel="noopener">Birte Gernhardt</a>
                        </span>
                        </div>
                    </div>
                    <div id="guterzweck" class="tz-content-right tz-hidden">
                        <div class="tz-tab-slider-img">
                            <ul class="tz-tab-slider">
                                <li>
                                    <img src="/ethic/img/guter-zweck.jpg"
                                         alt="Never Code Alone Team">
                                </li>
                            </ul>
                        </div>
                        <div class="tz-tab-description tz-background-color-8">
                            <img src="/ethic/images/check-02-home2.png" alt="Images">
                            <h4>Guter Zweck</h4>
                            <p>Wir setzen uns mit jedem Event und auch allen anderen Formaten stets für den guten Zweck ein.
                                So spenden wir die Einnahmen bei den Event-Tickets immer einem guten Zweck in der jeweiligen
                                Stadt.</p>
                            <span>
                            <a href="http://www.duisburger-tafel.de/" target="_blank" rel="noopener">Duisburger Tafel</a>
                            <a href="https://www.krebshilfe.de/" target="_blank" rel="noopener">Deutsche Krebshilfe</a>
                            <a href="https://www.froschkoenige-ev.de" target="_blank" rel="noopener">Froschkönige e.V.</a>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End container class tz-cources -->
    </section> <!-- End class tz-cources -->

    <section class="tz-introduce-style-4" data-q="form-contact">
        <div class="container">
            <div class="tz-address-style-4">
            <span>
                <img src="{{ content.introduce_image[0].url }}"
                     alt="Duisburg Never Code Alone">
            </span>
                <ul class="tz-phone-fax">
                    <li><a href="#"><img src="{{ content.introduce_logo[0].url }}" alt="Never Code Alone Logo"></a></li>
                    <li>
                        <img src="/ethic/images/check-home4.png" alt="Adresse">
                        <span class="theme-color-white">{{ content.introduce_address }}</span>
                    </li>
                    <li>
                        <img src="/ethic/images/check-home4.png" alt="Telefon">
                        <span class="theme-color-white">{{ content.introduce_phone }}</span>
                    </li>
                </ul>
            </div>
            <div class="tz-introduce-content tz-introduce-content-style-4">
                <h4>{{ content.introduce_headline }}</h4>
                <p>
                    {{ content.introduce_text|raw }}
                </p>
            </div>
        </div><!-- End container class tz-home-4-introduce -->
    </section><!-- End class tz-home-4-introduce -->
    {{ dump() }}
{% endblock %}
