<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <!-- All Stylesheets -->
        <link href="/unity/css/all-stylesheets.css" rel="stylesheet">
        <link href="/css/nca-contact.css" rel="stylesheet">
        <link href="/unity/css/styles.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    </head>
    <body class="home-36">
        <div id="preloader">
            <div class="preloader">
                <img src="/img/never-code-alone-loader.gif" alt="Sponsoren und Teilnehmer">
            </div>
        </div>
        <!-- PRELOADER STARTSCommunity Events sind nachhaltig und persönlich.
            ========================================================================= -->
        <section id="content">
            <header role="banner" class="home-36">
                <!-- SLIDER STARTS
        ========================================================================= -->
                <div class="slider">
                    <div id="rev_slider_46_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="notgeneric1" style="background-color:transparent;padding:0px;">
                        <!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
                        <div id="rev_slider_46_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
                            <ul>
                                {% for key,slide in content.slider %}
                                    <!-- SLIDE  -->
                                    <li data-index="rs-{{ key }}" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="/unity/images/slider/thumbs/19.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Ideas" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="{{ slide.sliderImage[0].formats["1500x1000"] }}" alt="{{ slide.layer1 }}" data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-0"
                                             id="slide-{{ key }}-layer-1"
                                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                             data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                                             data-width="none"
                                             data-height="none"
                                             data-whitespace="nowrap"
                                             data-transform_idle="o:1;"
                                             data-style_hover="cursor:default;"
                                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
                                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                             data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                             data-start="1000"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on"
                                             style="z-index: 5; white-space: nowrap;">
                                            <h2>{{ slide.layer1 }}</h2>
                                        </div>
                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0 t-center"
                                             id="slide-{{ key }}-layer-2"
                                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                             data-y="['center','center','center','center']" data-voffset="['30','30','30','30']"
                                             data-fontsize="['38','38','38','36']"
                                             data-lineheight="['45','45','45','40']"
                                             data-width="['600','500','400','300']"
                                             data-height="none"
                                             data-whitespace="normal"
                                             data-transform_idle="o:1;"
                                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                             data-mask_out="x:inherit;y:inherit;"
                                             data-start="1500"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-responsive_offset="on"
                                             style="z-index: 6; min-width: 300px; max-width: 600px; white-space: normal;">
                                            {{ slide.layer2 }}
                                        </div>
                                    </li>
                                    <!-- ./ SLIDE -->
                                {% endfor %}
                            </ul>
                            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                        </div>
                    </div>
                    <!-- END REVOLUTION SLIDER -->
                </div>

                <!-- /. SLIDER ENDS ========================================================================= -->
            </header>
            {% if
                (content.digitalCreativesTitle != '' and content.digitalCreativesBodytext != '')
                or
                (content.ideology) != ''
            %}
                <div class="parallax-71">
                    {% if (content.digitalCreativesTitle != '' and content.digitalCreativesBodytext != '')  %}
                        <!-- DIGITAL CREATIVES STARTS
                            ========================================================================= -->
                        <div class="container digital-creatives">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2 herotext">
                                    <h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">
                                        {{ content.digitalCreativesTitle }}
                                    </h2>
                                    <div class="description animated" data-animation="fadeInUp" data-animation-delay="400">
                                        {{ content.digitalCreativesBodytext|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ./ DIGITAL CREATIVES ENDS
                            ========================================================================= -->
                    {% endif %}
                    {% if (content.ideology) != '' %}
                        <!-- OUR IDEALOGY STARTS
                            ========================================================================= -->
                        {% for item in content.ideology %}
                            {% set oddOrEven = cycle(['odd', 'even'], loop.index) %}
                            <div class="container-fluid our-ideology bg">
                                <div class="row no-gutter-5">
                                    {% dump(oddOrEven) %}
                                    {% if oddOrEven == 'even' %}
                                    <div class="col-lg-5 picture animated" data-animation="fadeInLeft" data-animation-delay="200">
                                        <img src="{{ item.ideologyImage[0].formats['800x800'] }}" alt="{{ item.ideologyTitle }}" title="{{ item.ideologyTitle }}" class="img-responsive">
                                    </div>
                                    {% endif %}
                                    <div class="col-lg-7 herotext">
                                        <h2 class="animated" data-animation="fadeInUp" data-animation-delay="400">
                                            {{ item.ideologyTitle }}
                                        </h2>
                                        <h1 class="animated" data-animation="fadeInUp" data-animation-delay="600">
                                            {{ item.ideologyBodytext|raw }}
                                        </h1>
                                    </div>
                                    {% if oddOrEven == 'odd' %}
                                        <div class="col-lg-5 picture animated" data-animation="fadeInLeft" data-animation-delay="200">
                                            <img src="{{ item.ideologyImage[0].formats['800x800'] }}" alt="{{ item.ideologyTitle }}" title="{{ item.ideologyTitle }}" class="img-responsive">
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <!-- ./ OUR IDEALOGY ENDS
                            ========================================================================= -->
                    {% endif %}
                </div>
            {% endif %}
            <!-- OUR TEAM STARTS
                ========================================================================= -->
            <div class="container-fluid team-style-13  parallax-72">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 herotext">
                        <h2 class="animated" data-animation="fadeInUp" data-animation-delay="300">
                            {{ content.teamHeadline }}
                        </h2>
                        <h1 class="animated" data-animation="fadeInUp" data-animation-delay="600">
                            {{ content.teamDescription|raw }}
                        </h1>
                    </div>
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="row animated" data-animation="fadeInUp" data-animation-delay="900">
                            {% for teamMember in content.teamMembers %}
                                <!-- Column Starts -->
                                <div class="col-lg-4 col-md-4 col-sm-6 block">
                                    <div class="row no-gutter-5 no-gutter-7 row-lg-height  row-md-height  row-sm-height">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-height col-md-height col-sm-height col-middle">
                                            <div class="picture">
                                                <img src="{{ teamMember.teamMemberImage[0].formats['183x183'] }}" alt="{{ teamMember.teamMemberName }} {{ teamMember.teamMemberPosition }}" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-lg-height col-md-height col-sm-height col-middle info">
                                            <div class="name">{{ teamMember.teamMemberName }}</div>
                                            <div class="designation">{{ teamMember.teamMemberPosition }}</div>
                                            <ul class="social-icons">
                                                {% if teamMember.teamMemberTwitterUrl != '' %}
                                                    <li>
                                                        <a href="{{ teamMember.teamMemberTwitterUrl }}" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                {% endif %}
                                                {% if teamMember.teamMemberFbUrl != '' %}
                                                    <li>
                                                        <a href="{{ teamMember.teamMemberFbUrl }}" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                {% endif %}
                                                {% if teamMember.teamMemberGitHubUrl != '' %}
                                                    <li>
                                                        <a href="{{ teamMember.teamMemberGitHubUrl }}" target="_blank" rel="noopener"><i class="fa fa-github"></i></a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Column Ends -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./ OUR TEAM ENDS
                ========================================================================= -->

        </section>
        <!-- FOOTER 08 STARTS
    ========================================================================= -->
        <div class="footer-08">
            <div class="container">
                <!-- Row 1 Starts -->
                <div class="row row1">
                    <div class="col-lg-12 footer-logo"><img src="/img/logo.png" alt="Never Code Alone"></div>
                </div>
                <!-- Row 1 Ends -->
                <!-- Row 2 Starts -->
                <div class="row row2">
                    <!-- Social Icons Starts -->
                    <div class="col-lg-12">
                        <ul class="social-icons">
                            <li><a href="https://www.youtube.com/c/NeverCodeAlone" target="_blank"><i class="fa fa-youtube"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/nevercodealone/" target="_blank"><i
                                            class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/nevercodealone/" target="_blank"><i
                                            class="fa fa-instagram"></i></a></li>
                            <li><a href="https://twitter.com/nevercodealone" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.xing.com/companies/nevercodealone" target="_blank"><i
                                            class="fa fa-xing"></i></a></li>
                        </ul>
                    </div>
                    <!-- Social Icons Ends -->
                    <div class="col-lg-6 col-md-6 col-sm-6 call-now">
                        <i class="fa fa-phone"></i> Jetzt anrufen: <a href="">0176 24 74 77 27</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 mail">
                        <i class="fa fa-envelope"></i>Mail: <a href="">nevercodealone@gmail.com</a>
                    </div>
                    <div>
                        <a href="/impressum/">Impressum</a>
                    </div>
                </div>
                <!-- Row 2 Ends -->
            </div>
        </div>
        <!-- FOOTER 08 ENDS
            ========================================================================= -->
        <a href="#" class="scrollup">Scroll</a>
        <!-- /. TO TOP ENDS
            ========================================================================= -->
        <!-- STYLE SWITCHER PANEL STARTS
            ========================================================================= -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/unity/js/jquery-1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/unity/js/bootstrap.min.js"></script>
        <!-- Animation -->
        <script type="text/javascript" src="/unity/js/animation/jquery.appear.js"></script>
        <script>
            $('.animated').appear(function () {
                var elem = $(this);
                var animation = elem.data('animation');
                if (!elem.hasClass('visible')) {
                    var animationDelay = elem.data('animation-delay');
                    if (animationDelay) {

                        setTimeout(function () {
                            elem.addClass(animation + " visible");
                        }, animationDelay);

                    } else {
                        elem.addClass(animation + " visible");
                    }
                }
            });
        </script>
        <!-- REVOLUTION JS FILES -->
        <script type="text/javascript" src="/unity/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="/unity/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <!-- SLIDER REVOLUTION 5.0 EXTENSIONS
            (Load Extensions only on Local File Systems !
            The following part can be removed on Server for On Demand Loading) -->
        <script type="text/javascript" src="/unity/revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="/unity/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="/unity/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="/unity/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="/unity/revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="/unity/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="/unity/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="/unity/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="/unity/revolution/js/extensions/revolution.extension.video.min.js"></script>
        <script type="text/javascript">
            var tpj=jQuery;
            var revapi4;
            tpj(document).ready(function() {
                if(tpj("#rev_slider_46_1").revolution == undefined){
                    revslider_showDoubleJqueryError("#rev_slider_46_1");
                }else{
                    revapi4 = tpj("#rev_slider_46_1").show().revolution({
                        sliderType:"standard",
                        jsFileLocation:"revolution/js/",
                        sliderLayout:"fullwidth",
                        dottedOverlay:"none",
                        delay:7000,
                        navigation: {
                            keyboardNavigation:"off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation:"off",
                            onHoverStop:"off",
                            touch:{
                                touchenabled:"on",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            }
                            ,
                            arrows: {
                                style:"erinyen",
                                enable:true,
                                hide_onmobile:true,
                                hide_under:600,
                                hide_onleave:true,
                                hide_delay:200,
                                hide_delay_mobile:1200,
                                tmp:'<div class="tp-title-wrap">  	<div class="tp-arr-imgholder"></div>    <div class="tp-arr-img-over"></div>	<span class="tp-arr-titleholder">weiter</span> </div>',
                                left: {
                                    h_align:"left",
                                    v_align:"center",
                                    h_offset:30,
                                    v_offset:0
                                },
                                right: {
                                    h_align:"right",
                                    v_align:"center",
                                    h_offset:30,
                                    v_offset:0
                                }
                            }
                        },
                        viewPort: {
                            enable:true,
                            outof:"pause",
                            visible_area:"80%"
                        },
                        responsiveLevels:[1240,1024,778,480],
                        gridwidth:[1240,1024,778,480],
                        gridheight:[600,600,500,400],
                        lazyType:"none",
                        parallax: {
                            type:"mouse",
                            origo:"slidercenter",
                            speed:2000,
                            levels:[2,3,4,5,6,7,12,16,10,50],
                        },
                        shadow:0,
                        spinner:"off",
                        stopLoop:"off",
                        stopAfterLoops:-1,
                        stopAtSlide:-1,

                        fullScreenAlignForce:"off",
                        fullScreenOffsetContainer: "",
                        fullScreenOffset: "0px",
                        disableProgressBar:"on",
                        hideThumbsOnMobile:"off",

                        shuffle:"off",
                        autoHeight:"off",
                        hideThumbsOnMobile:"off",
                        hideSliderAtLimit:0,
                        hideCaptionAtLimit:0,
                        hideAllCaptionAtLilmit:0,
                        debugMode:false,
                        fallbacks: {
                            simplifyAll:"off",
                            nextSlideOnWindowFocus:"off",
                            disableFocusListener:false,
                        }
                    });
                }
            });	/*ready*/
        </script>
        <!-- Parallax -->
        <script type="text/javascript" src="/unity/js/parallax/jquery.parallax-1.1.3.js"></script>
        <script type="text/javascript" src="/unity/js/parallax/jquery.localscroll-1.2.7-min.js"></script>
        <script type="text/javascript" src="/unity/js/parallax/jquery.scrollTo-1.4.2-min.js"></script>
        <!-- AJAX Contact Form -->
        <!-- FitVids -->
        <script type="text/javascript" src="/unity/js/fitvids/jquery.fitvids.js"></script>
        <!-- Owl Carousel -->
        <script type="text/javascript" src="/unity/js/owl-carousel/owl.carousel.js"></script>
        <!-- Isotope -->
        <script type="text/javascript" src="/unity/js/isotope/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="/unity/js/isotope/custom-isotope-mansory.js"></script>
        <!-- Magnific Popup core JS file -->
        <script type="text/javascript" src="/unity/js/magnific-popup/jquery.magnific-popup.js"></script>
        <!-- Retina -->
        <script type="text/javascript" src="/unity/js/retina/retina.js"></script>
        <!-- FlexSlider -->
        <script defer src="/unity/js/flexslider/jquery.flexslider.js"></script>
        <!-- Custom JS -->
        <script src="/unity/js/custom/custom.js"></script>
        <script src="/js/nca-contact.js"></script>
    </body>
</html>
