{% extends "base-edugate.html.twig" %}

{% block content %}
    <div class="section background-opacity page-title set-height-top" style="background-image: url('{{ extension.excerpt.images[0].formats['1920x1080'] }}')">
        <div class="container">
                <div class="page-title-wrapper">
                    <h2 class="captions">{{ content.headline }}</h2>
                    <ol class="breadcrumb">
                        {% for subPoint in content.subPoints %}
                            <li>
                                <a href="#">{{ subPoint.subPointsItem }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
        </div>
    </div>
    {% dump(content) %}
    {% if content.whyImage[0] is defined
        and content.whyImage[0] is not empty
        and content.whyHeadline is not empty
        and content.whyDescription is not empty
    %}
        <div class="section why-choose-us">
            <div class="why-choose-us-wrapper-top">
                <div class="container">
                    <div class="why-choose-us-wrapper">
                        <h2 class="title-2">{{ content.whyHeadline }}</h2>
                        {{ content.whyDescription|raw }}
                        {% if content.whyButtonLink is not empty and content.whyButtonText is not empty %}
                            {% set target = sulu_content_load(content.whyButtonLink).path %}
                            <button onclick="window.location.href='{{ target }}'" class="btn btn-green-2"><span>{{ content.whyButtonText }}</span></button>
                        {% endif %}
                    </div>
                    <div data-wow-delay="0.2s" data-wow-duration="1.2s" class="background-girl-1 wow fadeInUp">
                        <img src="{{ extension.excerpt.images[0].formats['350x450'] }}" alt="" class="img-responsive"/>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="section section-padding courses">
        <div class="container">
            <div class="group-title-index">
                <h2 class="center-title">{{ content.coursesHeadline }}</h2>
                <h4 class="top-title">{{ content.coursesSubline }}</h4>
                <!--.bottom-title<i class="bottom-icon icon-a-1-01"></i>--></div>
            <div class="courses-wrapper"><!-- Nav tabs-->
                <div class="row top-content">
                    <div class="col-md-3">
                        <div class="result-output text-left">
                            <p class="result-count">Kategorien</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul role="tablist" class="nav nav-tabs edugate-tabs">
                            {% for category in sulu_categories('en') %}
                                {% set class = loop.first ? 'active' : '' %}
                                <li role="presentation" class="{{ class }}">
                                    <a href="#{{ category.key }}" data-toggle="tab" class="text">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="btn-list-grid list-unstyled text-right">
                            <li class="active">
                                <button class="btn-grid"><i class="fa fa-th-large"></i></button>
                            </li>
                            <li>
                                <button class="btn-list"><i class="fa fa-th-list"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Tab panes-->
                <div class="tab-content courses-content">
                    {% for category in sulu_categories('en') %}
                        <div id="{{ category.key }}" role="tabpanel" class="tab-pane fade in active">
                            <div class="style-show style-grid row">
                                {% for coursesOverviewItem in content.coursesOverviewItems %}
                                    {% for itemCategory in coursesOverviewItem.categories if itemCategory.key == category.key %}
                                        <div class="col-style" data-q="list-item">
                                            <div class="edugate-layout-2">
                                                <div class="edugate-layout-2-wrapper">
                                                    <div class="edugate-content">
                                                        <a href="{{ coursesOverviewItem.url }}" class="title" data-q="list-item-title">
                                                            {{ coursesOverviewItem.title }}
                                                        </a>

                                                        <div class="info">
                                                            <div data-q="list-item-category">
                                                                <strong>
                                                                    {{ category.name }}
                                                                </strong>
                                                            </div>
                                                            <div class="author item" data-q="list-item-trainer">
                                                                {% for trainers in coursesOverviewItem.trainerItems %}
                                                                    {{ trainers.fullName }}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="star-rating">
                                                            <span class="width-100"></span>
                                                        </div>
                                                        <div class="description" data-q="list-item-description">
                                                            {{ coursesOverviewItem.seoDescription }}
                                                        </div>
                                                        <a href="{{ coursesOverviewItem.url }}" class="btn btn-green" data-q="list-item-url"><span>Zum Kurs</span></a>
                                                    </div>
                                                    <div class="edugate-image">
                                                        <img src="{{ coursesOverviewItem.image[0].formats['400x300'] }}" alt="{{ coursesOverviewItem.title }} - {{ coursesOverviewItem.seoDescription }}" title="{{ coursesOverviewItem.title }} - {{ coursesOverviewItem.seoDescription }}" class="img-responsive" data-q="list-item-img"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="section gallery-page gallery-3column">
        <div class="container">
            <div class="group-title-index">
                <h4 class="top-title">{{ content.youTubeHeadline }}</h4>
                <h2>{{ content.youTubeSubline }}</h2>
                <div class="bottom-title">
                    <a href="https://www.youtube.com/watch?v=G1dlCxeKTeg&list=PLKrKzhBjw2Y88YH-UCWs6irEQfiGdzD2X" target="_blank" rel="nofollow">
                        <i class="fab fa-youtube" style="font-size: 40px"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row news-page-wrapper">
                    {% for video in videoList %}
                        {% set url = 'https://www.youtube.com/watch?v=%s'|format(video.snippet.resourceId.videoId) %}
                        <div class="col-sm-4" data-q="yt-item">
                            <div class="edugate-layout-3 news-gird">
                                <div class="edugate-layout-3-wrapper">
                                    <a href="{{ url }}" class="edugate-image" title="{{ video['snippet']['title'] }}" target="_blank">
                                        <img src="{{ video['snippet']['thumbnails']['medium']['url'] }}" alt="{{ video['snippet']['title'] }}" class="img-responsive"/>
                                    </a>
                                    <div class="edugate-content">
                                        <a href="{{ url }}" class="title" target="_blank" title="{{ video['snippet']['title'] }}">
                                            {{ video['snippet']['title'] }}
                                        </a>

                                        <div class="info">
                                            <div class="author item">
                                                #NCAVideo
                                            </div>
                                            <div class="date-time item">
                                                {{ video['snippet']['publishedAt']|localizeddate('none', 'none', 'de_DE', null, "cccc, d MMMM Y")  }}
                                            </div>
                                        </div>
                                        <div>
                                            <strong>Review PHP-Schulung</strong>
                                        </div>
                                        <div class="description">
                                            {{ video['snippet']['description'] }}
                                        </div>
                                        <a href="{{ url }}" title="{{ video['snippet']['title'] }}" class="btn btn-green"><span>YouTube</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="/edugate/assets/js/pages/courses.js"></script>
{% endblock %}

