{% extends "base-edugate.html.twig" %}

{% block content %}
    <div class="section background-opacity page-title set-height-top" style="background-image: url('{{ extension.excerpt.images[0].formats['1920x1080'] }}')">
        <div class="container">
            <div class="page-title-wrapper">
                <h2 class="captions">Kurs Inhalt</h2>
            </div>
        </div>
    </div>
    <div class="section section-padding courses-detail">
        <div class="container">
            <div class="courses-detail-wrapper">
                <div class="row">
                    <div class="col-md-9 layout-left">
                        <h1 class="course-title">{{ content.headline }}</h1>
                        <div class="video-container">
                            {{ content.youTubeIframe | raw }}
                        </div>
                        <div class="course-des">
                            <div class="course-des-title underline">{{ content.courseInfoHeadline }}</div>
                            <div class="course-des-content">
                                {{ content.courseInfoDescription | raw }}
                                <blockquote>
                                    <div class="main-quote">{{ content.courseInfoQuoteHeadline }}</div>
                                    <div class="sub-quote">{{ content.courseInfoQuoteContent }}</div>
                                    <footer>{{ content.courseInfoQuoteName }}
                                        <small>({{ content.courseInfoQuoteCompany }})</small>
                                    </footer>
                                </blockquote>
                            </div>
                            <div class="news-list">
                                <div class="list-expand-title">{{ content.requirementsHeadline }}</div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <ul class="list-unstyled list-detail">
                                            {% for requirementsItem in content.requirementsItems %}
                                                <li><i class="fa fa-angle-right"></i><a href="#">{{ requirementsItem.requirementsItemText }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="course-syllabus">
                            <div class="course-syllabus-title underline">Ablaufplan</div>
                            <div class="course-table">
                                <div class="outer-container">
                                    <div class="inner-container">
                                        <div class="table-header">
                                            <table class="edu-table-responsive">
                                                <thead>
                                                <tr class="heading-table">
                                                    <th class="col-1">Inhalt</th>
                                                    <th class="col-4">Art</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="table-body">
                                            <table class="edu-table-responsive table-hover">
                                                <tbody>
                                                    {% if content.dayOneHeadline != '' and content.dayOneItems is not empty %}
                                                        {% include "includes/edugate/table.html.twig" with {
                                                            "day": 1,
                                                            "headline": content.dayOneHeadline,
                                                            "items": content.dayOneItems
                                                        } %}
                                                    {% endif %}

                                                    {% if content.dayTwoHeadline != '' and content.dayTwoItems is not empty %}
                                                        {% include "includes/edugate/table.html.twig" with {
                                                            "day": 2,
                                                            "headline": content.dayTwoHeadline,
                                                            "items": content.dayTwoItems
                                                        } %}
                                                    {% endif %}

                                                    {% if content.dayThreeHeadline != '' and content.dayThreeItems is not empty %}
                                                        {% include "includes/edugate/table.html.twig" with {
                                                            "day": 3,
                                                            "headline": content.dayThreeHeadline,
                                                            "items": content.dayThreeItems
                                                        } %}
                                                    {% endif %}

                                                    {% if content.dayFourHeadline != '' and content.dayFourItems is not empty %}
                                                        {% include "includes/edugate/table.html.twig" with {
                                                            "day": 4,
                                                            "headline": content.dayFourHeadline,
                                                            "items": content.dayFourItems
                                                        } %}
                                                    {% endif %}

                                                    {% if content.dayFiveHeadline != '' and content.dayFiveItems is not empty %}
                                                        {% include "includes/edugate/table.html.twig" with {
                                                            "day": 5,
                                                            "headline": content.dayFiveHeadline,
                                                            "items": content.dayFiveItems
                                                        } %}
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 sidebar layout-right">
                        <div class="row">
                            <div class="course-price-widget widget col-sm-6 col-md-12 col-xs-6 sd380">
                                <div class="title-widget"><p>{{ content.price }}</p></div>
                                <div class="content-widget">
                                    <div class="course-price-widget-wrapper">
                                        <div class="row">
                                            <div class="col-md-12 info-row col-sm-12 col-xs-12">
                                                <div class="pull-left title">Dauer:</div>
                                                <div class="pull-right length">{{ content.duration }}</div>
                                            </div>
                                            <div class="col-md-12 info-row col-sm-12 col-xs-12">
                                                <div class="pull-left title">Level:</div>
                                                <div class="pull-right level">{{ content.level }}</div>
                                            </div>
                                            <div class="col-md-12 info-row col-sm-12 col-xs-12">
                                                <div>Max 6 Teilnehmer empfohlen</div>
                                            </div>
                                        </div>
                                        <a href="mailto:rolandgolla@gmail.com" class="btn btn-green color-white"><span>Jetzt buchen</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="author-widget widget col-sm-6 col-md-12 col-xs-6 sd380">
                                <div class="title-widget">Webdevelopment Trainer</div>
                                <div class="content-widget">
                                    {% for trainer in content.trainerItems %}
                                        <div class="staff-item author-widget-wrapper customize">
                                            <div class="staff-item-wrapper">
                                                <div class="staff-info">
                                                    <a href="#" class="staff-avatar">
                                                        <img src="{{ trainer.trainerImage[0].formats['400x400'] }}" alt="{{ trainer.trainerName }}" class="img-responsive"/>
                                                    </a>
                                                    <a href="#" class="staff-name">
                                                        {{ trainer.trainerName }}
                                                    </a>

                                                    <div class="staff-job">{{ trainer.trainerJobTitle }}</div>
                                                    <div class="staff-desctiption">
                                                        {{ trainer.trainerDescription }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="staff-socials">
                                                <a href="{{ trainer.trainerFacebook }}" class="facebook" rel="nofollow">
                                                    <i class="fab fa-facebook"></i>
                                                </a>
                                                <a href="{{ trainer.trainerTwitter }}" class="twitter" rel="nofollow">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
