<div class="section section-padding gallery-page gallery-4column">
    <div class="container">
        <div class="course-syllabus-title underline">{{ content.headline }}</div>
        <div class="grid">
            {% if content.image is not empty %}
                {% for item in content.image %}
                    {% set source = item.formats['gallery'] %}
                    <div class="grid-item">
                        <span class="content">
                            <span class="content-title">{{ item.title }}</span>
                        </span>
                        <a class="fancy" href="{{ item.formats['720x500'] }}">
                            <img src="{{ source }}" alt="{{ item.title }}"/>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

    </div>
</div>
