<!-- footer.html.twig -->
{% set snippets = sulu_snippet_load_by_area('footer') %}
{% if snippets %}
  {% set snippet = snippets.content %}
  <footer class="bg-gray-50 text-gray-800">
    <div class="p-4 py-6 mx-auto max-w-screen-xl md:p-8 lg:-10">
      <div class="grid grid-cols-2 gap-8 lg:grid-cols-6">
        <div class="col-span-2">
          <span class="flex items-center mb-2 text-2xl font-semibold sm:mb-0">
            {{ snippet.headline }}
          </span>
          <div class="my-4">{{ snippet.description|raw }}</div>
        </div>
        {% if snippet.columns is defined and snippet.columns is not empty %}

            {% for column in snippet.columns %}
              <div class="lg:mx-auto">
                <span class="mb-6 text-sm font-semibold">{{ column.headline }}</span>
                {% if column.links is defined and column.links is not empty %}
                  <ul class="text-gray-800">
                    {% for link in column.links %}
                      <li class="mb-4">
                        {% if link.type == 'intern' %}
                        {% set page = sulu_content_load(link.buttonLink, {
                          'title': 'title'
                        }) %}
                          <sulu-link href="{{ link.buttonLink }}">{{ page.content.title }}</sulu-link>
                        {% else %}
                          <a href="{{ link.url }}" target="_blank">{{ link.display }}</a>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8">
      <span class="block text-sm text-center text-gray-800">Calaisplatz 5 - 47051 Duisburg</span>
    </div>
  </footer>
{% endif %}
<!-- end footer.html.twig -->
