<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "partial/header.html.twig" %}
        <!-- LIBRARY FONT-->
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900,300">
        <link type="text/css" rel="stylesheet" href="/edugate/assets/font/font-icon/fontawesome-free-5.15.1-web/css/all.css">
        <link type="text/css" rel="stylesheet" href="/edugate/assets/font/font-icon/font-svg/css/Glyphter.css">
        <!-- LIBRARY CSS-->
        <link type="text/css" rel="stylesheet" href="/edugate/assets/libs/animate/animate.css">
        <link type="text/css" rel="stylesheet" href="/edugate/assets/libs/bootstrap-3.3.5/css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="/edugate/assets/libs/owl-carousel-2.0/assets/owl.carousel.css">
        <link type="text/css" rel="stylesheet" href="/edugate/assets/libs/selectbox/css/jquery.selectbox.css">
        <link type="text/css" rel="stylesheet" href="/edugate/assets/libs/fancybox/css/jquery.fancybox.css">
        <link type="text/css" rel="stylesheet" href="/edugate/assets/libs/fancybox/css/jquery.fancybox-buttons.css">
        <link type="text/css" rel="stylesheet" href="/edugate/assets/libs/media-element/build/mediaelementplayer.min.css">
        <!-- STYLE CSS-->
        <link type="text/css" rel="stylesheet" href="/edugate/assets/css/color-1.css" id="color-skins">
        <link type="text/css" rel="stylesheet" href="/edugate/style.css">
        <script defer type="text/javascript" src="/klaro/config.js"></script>
        <script
                defer
                data-config="klaroConfig"
                type="application/javascript"
                src="/klaro/klaro.js">
        </script>
        <link href="/klaro/klaro.min.css" rel="stylesheet"/>
        <link href="/klaro/klaro-custom.css" rel="stylesheet"/>
        {% include 'partial/analytics.html.twig' %}
        <!-- Global site tag (gtag.js) - Google Ads: 760649583 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-760649583"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'AW-760649583');
        </script>

    </head>
    <body>
    <header>
        <div class="header-topbar">
            <div class="container">
                <div class="topbar-left pull-left">
                    <div class="email">
                        <a href="mailto:nevercodealone@gmail.com">
                            <i class="topbar-icon fa fa-envelope"></i><span>nevercodealone@gmail.com</span>
                        </a>
                    </div>
                    <div class="hotline">
                        <a href="#">
                            <i class="topbar-icon fa fa-phone"></i><span>017624747727</span>
                        </a>
                    </div>
                </div>
                <div class="topbar-right pull-right">
                    <div class="socials">
                        <a href="https://www.facebook.com/nevercodealone/" class="facebook" target="_blank" rel="nofollow">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://twitter.com/nevercodealone" class="twitter" target="_blank" rel="nofollow">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.youtube.com/c/NeverCodeAlone" class="youtube" target="_blank" rel="nofollow">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="https://blog.nevercodealone.de/" class="wordpress" target="_blank" rel="nofollow">
                            <i class="fab fa-wordpress"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-main homepage-01">
            <div class="container">
                <div class="header-main-wrapper">
                    <div class="navbar-heade">
                        <div class="logo pull-left">
                            <a href="/" class="header-logo">
                                <img src="/img/logo.png" alt="Logo Never Code Alone"/>
                            </a>
                        </div>
                        <button type="button" data-toggle="collapse" data-target=".navigation" class="navbar-toggle edugate-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <nav class="navigation collapse navbar-collapse pull-right">
                        <ul class="nav-links nav navbar-nav">
                            <li>
                                <a href="/" class="main-menu">
                                    Startseite
                                </a>
                            </li>
                            {% for item in sulu_navigation_root_tree('main', 2, true) %}
                                {% if item.children|length > 0 %}
                                    <li class="dropdown">
                                {% else %}
                                    <li>
                                {% endif %}
                                        <a href="{{ item.url }}" title="{{ item.excerpt.title|default(item.title) }}" class="main-menu">
                                            {{ item.excerpt.title|default(item.title) }}
                                        </a>
                                        {% if item.children|length > 0 %}
                                            <ul class="dropdown-menu edugate-dropdown-menu-1">
                                            {% for child in item.children %}
                                                <li>
                                                    <a href="{{ child.url }}" class="link-page" title="{{ child.excerpt.title|default(child.title) }}">
                                                        {{ child.excerpt.title|default(child.title) }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

        <div id="wrapper-content">
            <div id="page-wrapper">
                <div class="main-content"><!-- CONTENT-->
                    <div class="content">
                        <section id="content">
                            {% block content %}{% endblock %}
                        </section>
                    </div>
                </div>
            </div>
            <div id="back-top">
                <a href="#top"><i class="fa fa-angle-double-up"></i></a>
            </div>
        </div>
        <!-- FOOTER -->
        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="footer-top-wrapper">
                        <div class="footer-top-left">
                            <p class="footer-top-focus">Video Call zum kennenlernen vereinbaren</p>
                            <p class="footer-top-text">
                                Einfach einen Terminvorschlag als E-Mail an <a href="mailto:nevercodealone@gmail.com">nevercodealone@gmail.com</a>
                            </p>
                        </div>
                        <div class="footer-top-right">
                            <button onclick="window.location.href='tel:+4917624747727'" class="btn btn-blue btn-bold">
                                <span>Termin vereinbaren</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-main">
                <div class="container">
                    <div class="footer-main-wrapper">
                        <div class="row">
                            <div class="col-2">
                                <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                    <div class="edugate-widget widget">
                                        <div class="title-widget">Über NCA Training</div>
                                        <div class="content-widget">
                                            <p>Wir setzen uns ein für Softwarequalität und soziale Projekte. Damit wollen wir besser Arbeitsbedingungen für Entwickler schaffen. Unsere Trainings haben nachhaltige Softwareentwicklung im Fokus.</p>
                                            <div class="info-list">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <i class="fa fa-envelope"></i><a href="mailto:nevercodealone@gmail.com">nevercodealone@gmail.com</a>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-phone"></i><a href="#">Tel: 017624747727</a>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-map-marker"></i>
                                                        <a href="#">
                                                            <p>Verschiedene Locations</p>
                                                            <p>47051 Duisburg</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                    <div class="useful-link-widget widget">
                                        <div class="title-widget">Weiterführende Links</div>
                                        <div class="content-widget">
                                            <div class="useful-link-list">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <i class="fa fa-angle-right"></i>
                                                                <a href="https://blog.nevercodealone.de/phpstan-codestandard-php-training-fur-teams-gegen-legacy-code/" target="_blank" rel="nofollow">
                                                                    PHPStan und Code Standard
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-angle-right"></i>
                                                                <a href="https://blog.nevercodealone.de/codeception-workshop/" target="_blank" rel="nofollow">
                                                                    Frontend-Tests für Magento E-Commerce und TYPO3-CMS-Projekte
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-angle-right"></i>
                                                                <a href="https://blog.nevercodealone.de/team23-php-schulung/" target="_blank" rel="nofollow">
                                                                    Automatisches Testing – Codeception Workshop
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-angle-right"></i>
                                                                <a href="https://blog.nevercodealone.de/automatisches-testing-typo3-schulung-ueberbit/" target="_blank" rel="nofollow">
                                                                    Team Workshop mit der Funktastatur
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-angle-right"></i>
                                                                <a href="https://blog.nevercodealone.de/php-schulung-fur-teams-flyeralarm/" target="_blank" rel="nofollow">
                                                                    PHP-Schulung für Teams
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                    <div class="gallery-widget widget">
                                        <div class="title-widget">Kooperation</div>
                                        <div class="content-widget">
                                            <a href="https://entwicklungshilfe.nrw/" class="view-more" target="_blank" rel="nofollow">
                                                Entwicklungshilfe.NRW&nbsp;<i class="fa fa-angle-double-right mls"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                                    <div class="mailing-widget widget">
                                        <div class="title-widget">Folgen lohnt sich</div>
                                        <div class="content-wiget">
                                            <p>Kein Crossposting. Jeder Kanal hat spezielle Inhalte für die Zielgruppe.</p>
                                            <div class="socials">
                                                <a href="https://www.youtube.com/c/NeverCodeAlone" class="youtube" target="_blank" rel="nofollow"><i class="fab fa-youtube"></i></a>
                                                <a href="https://twitter.com/nevercodealone" class="twitter" target="_blank" rel="nofollow"><i class="fab fa-twitter"></i></a>
                                                <a href="https://www.facebook.com/nevercodealone" class="facebook" target="_blank" rel="nofollow"><i class="fab fa-facebook"></i></a>
                                                <a href="https://www.instagram.com/nevercodealone/" class="instagram" target="_blank" rel="nofollow"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hyperlink">
                        <div class="pull-left hyper-left">
                            <ul class="list-inline">
                                <li>
                                    <a href="/de/impressum">Impressum</a>
                                </li>
                                <li>
                                    <a href="/de/datenschutz">Datenschutz</a>
                                </li>
                            </ul>
                        </div>
                        <div class="pull-right hyper-right">@ NEVERCODEALONE</div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- JAVASCRIPT LIBS-->
        <script src="/edugate/assets/libs/jquery/jquery-2.1.4.min.js"></script>
        <script src="/edugate/assets/libs/bootstrap-3.3.5/js/bootstrap.min.js"></script>
        <script src="/edugate/assets/libs/smooth-scroll/jquery-smoothscroll.js"></script>
        <script src="/edugate/assets/libs/owl-carousel-2.0/owl.carousel.min.js"></script>
        <script src="/edugate/assets/libs/appear/jquery.appear.js"></script>
        <script src="/edugate/assets/libs/count-to/jquery.countTo.js"></script>
        <script src="/edugate/assets/libs/wow-js/wow.min.js"></script>
        <script src="/edugate/assets/libs/selectbox/js/jquery.selectbox-0.2.min.js"></script>
        <script src="/edugate/assets/libs/isotope/isotope.pkgd.min.js"></script>
        <script src="/edugate/assets/libs/fancybox/js/jquery.fancybox.js"></script>
        <script src="/edugate/assets/libs/fancybox/js/jquery.fancybox-buttons.js"></script>
        <script src="/edugate/assets/libs/js-cookie/js.cookie.js"></script>
        <script src="/edugate/assets/js/main.js"></script>
        <!-- LOADING SCRIPTS FOR PAGE-->
        <script src="/edugate/assets/js/pages/homepage.js"></script>
        {% block javascript %}
        {% endblock %}
        {% include 'partial/analytics.html.twig' %}
    </body>
</html>
